<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>NizamEnergyProject</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <filter>
    <filter-name>accessControl</filter-name>
    <filter-class>webFilter.AccessControl</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>accessControl</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <listener>
    <listener-class>
             servletListner.MyAppServletContextListener 
    </listener-class>
  </listener>
  <error-page>
    <exception-type>java.lang.Throwable</exception-type>
    <location>/error.jsp</location>
  </error-page>
  <servlet>
    <servlet-name>super</servlet-name>
    <jsp-file>/superAdminDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>super</servlet-name>
    <url-pattern>/SuperAdminDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>request</servlet-name>
    <jsp-file>/request.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>request</servlet-name>
    <url-pattern>/Request</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dodashboard</servlet-name>
    <jsp-file>/doDashboard.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dodashboard</servlet-name>
    <url-pattern>/DistrictOfficerDashboard</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>shslogin</servlet-name>
    <jsp-file>/shsLogin.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>shslogin</servlet-name>
    <url-pattern>/SolarHomeSystemLogin</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loanrequest</servlet-name>
    <jsp-file>/loanRequest.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanrequest</servlet-name>
    <url-pattern>/LoanRequest</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ndFoForm</servlet-name>
    <jsp-file>/NdFoForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>ndFoForm</servlet-name>
    <url-pattern>/NdFoForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>districtofficerr</servlet-name>
    <jsp-file>/districtOfficer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>districtofficerr</servlet-name>
    <url-pattern>/DistrictOfficerr</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>index</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>index</servlet-name>
    <url-pattern>/Index</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loanview</servlet-name>
    <jsp-file>/loanView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loanview</servlet-name>
    <url-pattern>/LoanView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nizamdostview</servlet-name>
    <jsp-file>/NizamDostView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nizamdostview</servlet-name>
    <url-pattern>/NizamDostView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>applianceview</servlet-name>
    <jsp-file>/applianceView.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>applianceview</servlet-name>
    <url-pattern>/ApplianceView</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>superAdminAlarms</servlet-name>
    <jsp-file>/superAdminAlarms.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>superAdminAlarms</servlet-name>
    <url-pattern>/DeviceAlarms</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customer</servlet-name>
    <jsp-file>/customer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>customer</servlet-name>
    <url-pattern>/Customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>appliances</servlet-name>
    <jsp-file>/appliances.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>appliances</servlet-name>
    <url-pattern>/Appliances</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loan</servlet-name>
    <jsp-file>/loan.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>loan</servlet-name>
    <url-pattern>/Loan</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>finance</servlet-name>
    <jsp-file>/finance.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>finance</servlet-name>
    <url-pattern>/Finance</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>superAdminFO</servlet-name>
    <jsp-file>/superAdminFO.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>superAdminFO</servlet-name>
    <url-pattern>/FieldOfficer</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>nizamDost</servlet-name>
    <jsp-file>/nizamDost.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>nizamDost</servlet-name>
    <url-pattern>/NizamDost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>forgotpassword2</servlet-name>
    <jsp-file>/forgotPassword.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>forgotpassword2</servlet-name>
    <url-pattern>/ForgotPasswordd</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>energyAnalytics</servlet-name>
    <jsp-file>/energyAnalytics.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>energyAnalytics</servlet-name>
    <url-pattern>/EnergyAnalytics</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>lateAndDefaulterReport</servlet-name>
    <jsp-file>/lateAndDefaulterReport.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>lateAndDefaulterReport</servlet-name>
    <url-pattern>/LateAndDefaulterReport</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>futureLoanBooks</servlet-name>
    <jsp-file>/futureLoanBooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>futureLoanBooks</servlet-name>
    <url-pattern>/FutureLoanBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dataAndReports</servlet-name>
    <jsp-file>/dataAndReports.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>dataAndReports</servlet-name>
    <url-pattern>/DataAndReports</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>archivedCustomers</servlet-name>
    <jsp-file>/ArchivedCustomers.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>archivedCustomers</servlet-name>
    <url-pattern>/ArchivedCustomers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customerLoanForm</servlet-name>
    <jsp-file>/customerLoanForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>customerLoanForm</servlet-name>
    <url-pattern>/CustomerLoanForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCustomerForm</servlet-name>
    <jsp-file>/updateCustomerForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCustomerForm</servlet-name>
    <url-pattern>/UpdateCustomerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doAppliances</servlet-name>
    <jsp-file>/doAppliances.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAppliances</servlet-name>
    <url-pattern>/DoAppliances</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doLoanBooks</servlet-name>
    <jsp-file>/doLoanBooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doLoanBooks</servlet-name>
    <url-pattern>/DoLoanBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doFieldOfficer</servlet-name>
    <jsp-file>/doFieldOfficer.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doFieldOfficer</servlet-name>
    <url-pattern>/DoWiseFieldOfficers</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doNizamDost</servlet-name>
    <jsp-file>/doNizamDost.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doNizamDost</servlet-name>
    <url-pattern>/DoWiseNizamDost</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doAlarmsPage</servlet-name>
    <jsp-file>/doAlarmsPage.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doAlarmsPage</servlet-name>
    <url-pattern>/DoAlarmsPage</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doFutureLoanBooks</servlet-name>
    <jsp-file>/doFutureLoanBooks.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doFutureLoanBooks</servlet-name>
    <url-pattern>/DoFutureLoanBooks</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advancebooking</servlet-name>
    <jsp-file>/AdvanceBooking.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>advancebooking</servlet-name>
    <url-pattern>/AdvanceBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>advancebookingdo</servlet-name>
    <jsp-file>/AdvanceBookingDO.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>advancebookingdo</servlet-name>
    <url-pattern>/DoWiseAdvanceBooking</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>doFieldOfficerProfile</servlet-name>
    <jsp-file>/doFieldOfficerProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>doFieldOfficerProfile</servlet-name>
    <url-pattern>/DoFieldOfficerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>cashCustomerForm</servlet-name>
    <jsp-file>/CashCustomerForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>cashCustomerForm</servlet-name>
    <url-pattern>/CashCustomerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DistrictOfficerForm</servlet-name>
    <jsp-file>/DistrictOfficerForm.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistrictOfficerForm</servlet-name>
    <url-pattern>/DistrictOfficerForm</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>commissionPayout</servlet-name>
    <jsp-file>/commissionPayout.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>commissionPayout</servlet-name>
    <url-pattern>/CommissionPayout</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>districtOfficerProfile</servlet-name>
    <jsp-file>/districtOfficerProfile.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>districtOfficerProfile</servlet-name>
    <url-pattern>/DistrictOfficerProfile</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>UserLoginController</servlet-name>
    <servlet-class>control.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UserLoginController</servlet-name>
    <url-pattern>/UserLoginController</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>RandomGeneratedPasswordController</servlet-name>
    <servlet-class>control.SendRandomGeneratedPassword</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RandomGeneratedPasswordController</servlet-name>
    <url-pattern>/RandomGeneratedPasswordController</url-pattern>
  </servlet-mapping>
</web-app>